<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Connect</title>
</head>
<body>
    <h1>Career Connect</h1>
    <img src={{ url_for('static', filename='images/reference.jpeg') }} alt="An Image">
    <header>
        <h2>About Career Connect</h2>
        <p>
            CareerConnect is a Flask-based career website designed to connect job seekers and employers.
            It provides a platform for users to explore and apply for jobs,
            and for employers to post vacancies and manage applications.
        </p>

        <p>
            The website features a search functionality that allows users to filter jobs based on location,
            job type, and industry. It leverages Flask's lightweight design
            and extensions to deliver a secure and efficient user experience. 
        </p>

        <p>
            The project follows best practices in web development, including RESTful routing,
            session management, and database schema design. CareerConnect is a scalable and secure solution
            for job search and recruitment needs.
        </p>
    </header>
</body>
</html>