<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='StyleSheet/index.css') }}">
</head>
<body>
    <h1>Career Connect</h1>
    <img src={{ url_for('static', filename='images/reference.jpeg') }} alt="An Image">
    <header>
        <h2>About Career Connect</h2>
        <ul class="header-list">
            <li>
                CareerConnect is a Flask-based career website designed to connect job seekers and employers.<br>
                It provides a platform for users to explore and apply for jobs,<br>
                and for employers to post vacancies and manage applications.
            </li>

            <li>
                The website features a search functionality that allows users to filter jobs based on location,<br>
                job type, and industry. It leverages Flask's lightweight design<br>
                and extensions to deliver a secure and efficient user experience. 
            </li>

            <li>
                The project follows best practices in web development, including RESTful routing,<br>
                session management, and database schema design. CareerConnect is a scalable and secure solution<br>
                for job search and recruitment needs.
            </li>
        </ul>
    </header>
    <hr class="hr-footer">
    <footer>
        <aside>&copy;CareerConnect</aside>
    </footer>
</body>
</html>