<nav class="navbar navbar-expand-lg bg-dark navbar-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand"><span class="title-word title-word-1">Career</span><span class="title-word title-word-2">Connect</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav3"
        aria-controls="navbarNav3" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav3">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbar-dropdown-link-2" role="button"
              data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Dropdown</a>
            <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-link-2">
              <li>
                <a href="#" class="dropdown-item">Electronics</a>
              </li>
              <li>
                <a href="#" class="dropdown-item">Embedded Circuits</a>
              </li>
              <li class="dropdown dropend">
                <a href="#" class="dropdown-item dropdown-toggle" id="navbar-dropdown-list-deep-1" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Mosaics
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-dropdown-link-1">
                  <li>
                    <a href="#" class="dropdown-item">Roman</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Byzantine</a>
                    <a href="#" class="dropdown-item">Art Nouveau</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>