{% for job in data %}
    <section>
        <div class="flex-div1">
            <h3> {{ data[job]["title"] }} </h3>
            <h4>Location:-<em>{{  data[job]["location"]  }}</em></h4>
            {% if 'salary' in data[job] %}
                <h4>Salary:-<em>{{  data[job]["salary"]  }}</em></h4>
            {% endif %}
        </div>
        <div>
            <button onclick="window.location.href='{{ url_for('view.form') }}';" class="btn btn-primary btn-lg">Apply</button>
        </div>
    </section>
    <br>
{% endfor %}